<% if (info) { %>
    <div class="alert alert-primary" role="alert">
            <%= info %>
          </div>
<%} %>
<% if (err) { %>

        <div class="alert alert-danger" role="alert">
                <%= err %>
              </div>
<% } %>